{
  "env": "production",
  "api": {
    "baseDomain": "$DOMAIN_NAME",
    "scheme": "https",
    "suffixDomain": "api",
    "prefix": "v1"
  },
  "wsUrl": "wss://$DOMAIN_NAME/events/",
  "legal": null
}
