# Secret key + Tokens TO CHANGE
TENZU_SECRET_KEY='$TENZU_SECRET_KEY'
TENZU_TOKENS__SIGNING_KEY='$TENZU_TOKENS__SIGNING_KEY'

# The URL of the backend and frontend part
TENZU_BACKEND_URL='https://$DOMAIN_NAME/'
TENZU_FRONTEND_URL='https://$DOMAIN_NAME/'

# DB information
TENZU_DB__NAME='tenzu'
TENZU_DB__USER='tenzu'
TENZU_DB__PASSWORD='$TENZU_DB__PASSWORD'
TENZU_DB__HOST='tenzu-db'
