:8000 {
   @public {
       path /media/* /static/*
   }
   route @public {
         header Access-Control-Allow-Origin *
         header Access-Control-Allow-Headers *
         header Access-Control-Allow-Methods *
         root * /public/
         file_server {
             precompressed br gzip
         }
   }

   reverse_proxy /api/* tenzu-back:8000
   reverse_proxy /admin/* tenzu-back:8000
   reverse_proxy /events/ tenzu-back:8000
   reverse_proxy tenzu-front:80
}
